body  { 
    height: 768px;
    width: 1366px;
    
}
a {
    text-decoration: none;
}




.container{
    height: 768px;
    width: 1366px;
    border: 1px solid white;
    background-image: url(../img/background1.png);

   
    
}

.logo:hover .aaa, .logo:hover .milan, .logo:hover .holidays  {
    color: #F26522;
    
}


.from {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 10px;
}
 .price {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;

 }
.child2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
.wrapper {
    height: 768px;
    width: 1028px;
    margin-left: auto;
    margin-right: auto;
}


.header {
    width: 1028px;
    height: 61px;
    margin-top: 46px;
    display: flex;
    justify-content: space-between;

}

.logo {
    display: flex;
    align-items: center;
    margin-top: 4px;

    

}

.logo2 {
    display: flex;
    flex-direction: column;
    
margin-left: 10px;
}
.milan {
    font-weight: 700;
    font-size: 29px;
}

.holidays {
    font-size: 18px;
line-height: 18px;
}
.milan, .holidays {
    
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
color: white;
text-decoration: none;

}

.mail, .tel { 
    color: white;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
text-decoration: none;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}


.logo1 {
    height: 47px;
    width: 53px;
    display: inline-block;
    background-image: url(../img/logo\ 3.png);
}


.mail:hover {
    color: #F26522
    
}
.tel:hover {
    color: #F26522
    
}
.logo:hover .logo1{
background-image: url(../img/logo\ 2.svg);

}



.wrapper_block {
    margin-top: 20px;
    height: 560px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 62px;
    grid-row-gap: 37px;
}

.block1 { grid-area: 1 / 1 / 2 / 2; }
.block2 { grid-area: 1 / 2 / 2 / 3; }
.block3 { grid-area: 1 / 3 / 2 / 4; }
.block4 { grid-area: 2 / 1 / 3 / 2; }
.block5 { grid-area: 2 / 2 / 3 / 3; }
.block6 { grid-area: 2 / 3 / 3 / 4; }


[class^="block"] {
    
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   box-sizing: border-box;
   position: relative;
   width: 300px;

   }

   [class^="img"] {
  border-image: linear-gradient(45deg, purple, orange) 1;
    height: 220px;
    width: 300px;
   
   }


p {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
color: white;
margin: 0 auto;



}   

[class^="img_container"] {
  border: 2px solid;
    border-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(255, 255, 255)) 1;
  box-sizing: border-box;
  position: relative;
 

}

.img_container1 {
    background-image: url(../img/img1.png);
    position: relative;
}

.img_container2 {
    background-image: url(../img/img2.png);
}

.img_container3 {
    background-image: url(../img/img3.png);
}

.img_container4 {
    background-image: url(../img/img4.png);
}

.img_container5 {
    background-image: url(../img/img5.png);
}

.img_container6 {
    background-image: url(../img/img6.png);
}

.footer {
   margin-top: 49px;
   text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}


p  {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.link   {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
padding-top: 20px;


}

.link1 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
}

.parent {
    background-color: #F26522;
    display: flex;
    justify-content: space-between;
    height: 55px;
    width: 300px;
    opacity: 0;
    transition-duration: 1s;
    position: absolute;
    bottom: 0;


}
.child1 {
    display: flex;
    flex-direction: column;
}


.child2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 12px;
    color: white;
    padding-right: 37px;
    


}
.from {
    color: white;
    padding-left: 16px;
    padding-top: 7px;
}
.price {
    color: white;
    padding-top: 8px;
    padding-left: 16px;


}

.child2::after {
    content: '\003E' ;
    padding-left: 16px;
}

.price::before {
    content: '\20AC' ;
    
}


[class^="img_container"]:hover .parent {
    opacity: 100;
}